.left {
	background-color: #ffffff;
	border-radius: 3vh 0 0 3vh;
	width: 18%;
}
.left_logo {
	height: 15vh;
}
.left_logo img {
	height: 6vh;
	margin: 6vh 3vw;
}
.left_nav .index {
	margin-top: 3vh;
}
.left_nav p.index,
.left_nav p.nav_element {
	margin: 1vh auto;
	width: 85%;
	min-width: 228px;
	padding: 1vh 2vw;
	border-radius: 17px;
	height: auto;
}
.nav_ele-number {
	background-color: #ff672c;
	color: white;
	border-radius: 5px;
	width: 20px;
	padding: 2px 0px;
	float: right;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}
.left_nav .nav_element:hover {
	background-color: #efefefb9;
	color: black;
	cursor: pointer;
}
.left_nav .nav_element:hover svg {
	color: #6427f1;
}
.left_user {
	display: flex;
	margin: 7vh auto 0px;
	background-color: #f5f9fc;
	flex-wrap: wrap;
	width: 80%;
	padding: 1vh 1vw;
	border-radius: 17px;
	align-items: center;
}
.left_user img {
	padding-right: 1vh;
}
.left_user .user_infor .user_name {
	letter-spacing: -0.5px;
	font-weight: 600;
}
.left_user .user_infor .user_author {
	color: gray;
}
.left .left_logout {
	margin: 20px;
}
@media (max-width: 1024px) {
	.left {
		width: 20%;
	}
	.left .left_logo {
		height: fit-content;
	}
	.left .left_logo img {
		margin: 0px;
		width: 100%;
		padding: 10px;
	}
	.left_nav p.index,
	.left_nav p.nav_element {
		margin: 0px;
		min-width: unset;
		padding: 0px;
		margin-top: 10px;
	}
	.left_nav p.nav_element {
		height: 46px;
		padding-top: 20px;
		padding-left: 10px;
	}
	.left .left_user {
		flex-direction: column;
		margin-top: 10vh;
		align-items: center;
		justify-content: space-between;
		padding: 0px;
	}
}
